{% extends "::base.html.twig" %}
{% block sstitle %}Demandes{% endblock %}

{% block corps %}


    <div class="row">
    <div class="col-lg-8">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Suivis des Demandes
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-20">
                <form method="post" {{ form_enctype(form) }}>

                        {{ form_errors(form) }}
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>{{ form_label(form.Libelle, "Attestation : ") }}</label>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-control">
                                        {{ form_widget(form.Libelle) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>{{ form_label(form.priorite, "Priorité :") }}</label>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-control">
                                        {{ form_widget(form.priorite) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                <div class="col-sm-2">
                    <div id="dataTables-example_filter" class="dataTables_filter">
                        <button type="submit" class="btn btn-outline btn-primary">Ajouter</button>
                    </div>
                </div>
                    {{ form_rest(form) }}
            </form>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Demande</th>
                        <th>Date</th>
                        <th>Priorité</th>
                        <th>Validation</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for demande in demandes %}
                        {% if(demande.valide==true) %}
                            <tr class="success">
                                <td>{{  demande.Libelle  }}</td>
                                <td>{{  demande.DateDEM|date('d/m/Y H:i:s')  }}</td>
                                <td>{{  demande.priorite }}</td>
                                <td>Valider</td>
                            </tr>
                        {% else %}
                            <tr class="warning">
                                <td>{{ demande.Libelle }}</td>
                                <td>{{ demande.DateDEM|date('d/m/Y H:i:s') }}</td>
                                <td>{{ demande.priorite }}</td>
                                <td>En cours</td>
                            </tr>
                         {% endif %}
                    {% endfor %}

                    </tbody>
                </table>
            </div>

            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
    </div>
    <!-- /.panel -->


    <script src="{{ asset('dist/js/sb-admin-2.js')}}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function() {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
    </script>
{% endblock %}