<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Offre & Emploi</title>
    <link rel="stylesheet" href="{{asset('Site/css/bootstrap.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{asset('Site/css/font-awesome.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{asset('Site/css/prettyPhoto.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{asset('Site/css/main.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{asset('Site/css/amine.css') }}" type="text/css" />
    
    <link rel="shortcut icon" href="{{asset('Site/images/ico/favicon.ico') }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{asset('Site/images/ico/apple-touch-icon-144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{asset('Site/images/ico/apple-touch-icon-114-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{asset('Site/images/ico/apple-touch-icon-72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{asset('Site/images/ico/apple-touch-icon-57-precomposed.png') }}">
</head><!--/head-->

<body data-spy="scroll" data-target="#navbar" data-offset="0">
    <header id="header" role="banner">
        <div class="container">
            <div id="navbar" class="navbar navbar-default">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('mam_site') }}"><img src="{{ asset('images/mamrh_logo.png')}}"/></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#main-slider"><i class="icon-home"></i></a></li>
                        <li><a href="#">Nouvelle Offre</a></li>
                        <li><a href="#">Toutes les offres</a></li>
                        <li><a href="#">Qui sommes-nous</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header><!--/#header-->

    <section id="main-slider" class="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Bienvenue</h1>
                        <p class="lead">
                            <h4>
                                <span class="grisgras">Pour postuler à un stage & emploi </span>
                                <span class="redgras">
                                <span class="glyphicon glyphicon-hand-down">
                                </span>
                                </span>
                            </h4>
                        </p>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item ">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Welcome</h1>
                        <p class="lead">
                            <h4>
                                <span class="grisgras">To apply for an internship & a job </span>
                                <span class="redgras">
                                <span class="glyphicon glyphicon-hand-down">
                                </span>
                            </span>
                            </h4>
                        </p>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
        <a class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></a>
        <a class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></a>
    </section><!--/#main-slider-->

   

    {% block offre %}
    {% endblock %}
    {% block offre_type %}
    {% endblock %}
    {% block qui_somme_nous %}
    {% endblock %}
    {% block contact %}
    {% endblock %}

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2015 <a target="_blank" href="#" title="Free Twitter Bootstrap WordPress Themes and HTML templates">IMIAE</a>. All Rights Reserved.
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="{{asset('Site/js/jquery.js')}}"></script>
    <script src="{{asset('Site/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('Site/js/jquery.isotope.min.js')}}"></script>
    <script src="{{('Site/js/jquery.prettyPhoto.js')}}"></script>
    <script src="{{('Site/js/main.js')}}"></script>
</body>
</html>