{% extends "::base.html.twig" %}
{% block sstitle %}Tableau de Bord{% endblock %}

{% block projet %}{{ nbrprojet }}{% endblock %}
{% block demnov %}{{ demandev }}{% endblock %}
{% block stagiaire %}{{ nbrstagiaire }}{% endblock %}
{% block demnonv %}{{ demandenonv }}{% endblock %}

{% block corps %}

<div class="col-lg-8">

<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-clock-o fa-fw"></i> Nouveautés
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <ul class="timeline">
            {% set i = 0 %}
            {% for i in 1..(entities|length)%}
                {% if(i%2 != 0) %}
            <li>
                <div class="timeline-badge"><i class="fa fa-check"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">{{ entities[i-1].libelle }}</h4>
                        <p><small class="text-muted"><i class="fa fa-clock-o"></i>{{ entities[i-1].CreatedAt|date('d/m/Y H:i:s') }}</small>
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p>{{ entities[i-1].discription }}</p>
                    </div>
                </div>
            </li>
                {% endif %}
                {% set i = i+1 %}
                {% if(i <= (entities|length) and i%2 ==0) %}
            <li class="timeline-inverted">
                <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">{{ entities[i-1].libelle }}</h4>
                        <p><small class="text-muted"><i class="fa fa-clock-o"></i>{{ entities[i-1].CreatedAt|date('d/m/Y H:i:s') }}</small>
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p>{{ entities[i-1].discription }}</p>
                    </div>
                </div>
            </li>
                {% endif %}
                {% set i = i+1 %}
            {% endfor %}
        </ul>
</div>
</div>

</div>
{% endblock %}
