{% extends "::base.html.twig" %}
{% block sstitle %}Ajouter un suivi de projet{% endblock %}

{% block corps %}

      <div class="col-lg-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-edit"></i>
                    Formulaire d'ajout d'un suivi de projet
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8">
                            <form  method="post" {{form_enctype(form) }}>
                                {{ form_errors(form) }}
                                <div class="form-group">
                                    <label>{{ form_label(form.tache, "Libellé de la tache ") }}</label>
                                    <div class="form-control">
                                        {{ form_widget(form.tache) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>{{ form_label(form.Descriptif, "Description") }}</label>
                                    <div >
                                        {{ form_widget(form.Descriptif) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>{{ form_label(form.date_D_tache, "Date de début de la nouvelle tache") }}</label>
                                    {{ form_widget(form.date_D_tache) }}
                                </div>

                                <div class="form-group">
                                    <label>{{ form_label(form.date_F_tache, "Date de fin de la nouvelle tache") }}</label>
                                        {{ form_widget(form.date_F_tache) }}
                                </div>

                                <button type="submit" class="btn btn-outline btn-primary">Envoyer</button>
                                <button type="reset" class="btn btn-outline btn-primary">Renitialiser</button>
                                {{ form_rest(form) }}
                            </form>
                        </div>

                    </div>
                    <!-- /.row (nested) -->
                </div>
            </div>
      </div>

{% endblock %}