{% extends "::base.html.twig" %}

{% block sstitle %} Mon profil{% endblock %}

{% block corps %}
    <div class="col-lg-8">
    <div class="row">
    <div class="col-lg-3">
        <div class="photo">
        <img src="{{ asset(profil.image.webPath) }}" />
        </div>
    </div>
    <div class="col-lg-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-unlock"></i>
                    &nbsp;&nbsp;Informations générales<span class="fa fa-edit"></span>
                </div>
                <div class="panel-body">
                    <table>
                        <tr><td><i class="fa fa-users"></i>&nbsp;&nbsp;</td><td>Nom:&nbsp; </td><td>{{ profil.Nom }}</td>
                        </tr>
                        <tr><td><i class="fa fa-user"></i>&nbsp;&nbsp;</td><td>Prénom: </td><td>{{ profil.Prenom }}</td>
                        </tr>
                        <tr><td><i class="fa fa-bookmark"></i>&nbsp;&nbsp;</td><td>Matricule:&nbsp;</td><td>{{ profil.matricule }}</td>
                        </tr>
                        <tr><td><i class="fa fa-tag"></i>&nbsp;&nbsp;</td><td>CIN:</td><td>{{ profil.CIN }}</td>
                        </tr>
                        <tr><td><i class="fa fa-home"></i>&nbsp;&nbsp;</td><td>Adresse:</td><td>{{ profil.Adresse }}</td>
                        </tr>
                        <tr><td><i class="fa fa-phone">&nbsp;&nbsp;</i></td><td>Télé:</td><td>{{ profil.Tel }}</td>
                        </tr>
                        <tr><td><i class="fa fa-envelope"></i>&nbsp;&nbsp;</td><td>Email:</td><td>{{ profil.email }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-gears"></i>
                &nbsp;&nbsp;Informations fonctionelles
            </div>
            <div class="panel-body">
                <table>
                    <tr><td><i class="fa fa-mortar-board"></i>&nbsp;&nbsp;</td><td>Diplome:&nbsp; </td><td>{{ profil.Diplome }}</td>
                    </tr>
                    <tr><td><i class="fa fa-briefcase"></i>&nbsp;&nbsp;</td><td>Formation:&nbsp; </td><td>{{ profil.Formation }}</td>
                    </tr>
                    <tr><td><i class="fa fa-wrench"></i>&nbsp;&nbsp;</td><td>Fonction:&nbsp;</td><td>{{ profil.Fonction }}</td>
                    </tr>
                    <tr><td><i class="fa fa-graduation-cap"></i>&nbsp;&nbsp;</td><td>Spécialité:&nbsp;</td><td>{{ profil.Specialite }}</td>
                    </tr>
                    <tr><td><i class="fa fa-graduation-cap"></i>&nbsp;&nbsp;</td><td>Département:&nbsp;</td><td>{{ profil.departement.Libelle }}</td>
                    </tr>
                </table>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
           <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-credit-card"></i>
                &nbsp;&nbsp;Informations bancaires
            </div>
            <div class="panel-body">
                <table>
                    <tr><td><i class="fa fa-money"></i>&nbsp;&nbsp;</td><td>Salaire:&nbsp; </td><td>{{ profil.Salaire }} DH</td>
                    </tr>
                    <tr><td><i class="fa fa-mortar-board"></i>&nbsp;&nbsp;</td><td>Numéro Compte bancaire: &nbsp;</td><td>{{ profil.NumComptbanq }}</td>
                    </tr>
                    <tr><td><i class="fa fa-mortar-board"></i>&nbsp;&nbsp;</td><td>CNSS:&nbsp;</td><td>{{ profil.Cnss}}</td>
                    </tr>
                    <tr><td><i class="fa fa-tag"></i>&nbsp;&nbsp;</td><td>CIMR:&nbsp;</td><td>{{ profil.Cimr }}</td>
                    </tr>
                    <tr><td><i class="fa fa-tag"></i>&nbsp;&nbsp;</td><td>Type de contrat:&nbsp;</td><td>{{ profil.Typecontrat }}</td>
                    </tr>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}